<div class="row col-12" *ngIf="!loggedIn">
  <p>login</p>
  <form action="" [formGroup]="loginForm">
    <input type="text" placeholder="username" formControlName="username" />
    <input type="text" placeholder="password" formControlName="password" />
    <button class="btn btn-primary" type="submit" (click)="submit()">
      Login
    </button>
    <button class="btn btn-primary mx-2" type="submit" (click)="Forcelogout()">
      Force Logout
    </button>
  </form>
</div>
<router-outlet>
  <lib-attribute-master></lib-attribute-master>
</router-outlet>
